.message-container{
  max-width: 1270px;
  width: auto;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
  text-align: center;
}

.vertical-center{
  transform: none!important;
  top: 0!important;
}

a > p.checked{
  text-decoration-line: line-through;
}

.slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
	max-height: 0;
}

a{
  color: #000;
}

a:hover{
  color: #000;
  text-decoration: none;
}
