{% extends "admin_page.html" %}

{% block content %}
  <form method="POST" action="{% url 'webeditor_admin' %}" class="sign-in-form">
   {% csrf_token %}
   <h2 class="sub-title"> 로그인 </h2>
   <div class="form-group">
     <label for="username">ID</label>
     <input class="form-control" id="username" maxlength="15" name="username" type="text" />
   </div>
   <div class="form-group">
     <label for="password">PW</label>
     <input class="form-control" id="password" maxlength="120" name="password" type="password" />
   </div>
   <input type="submit" class="save btn btn-success" value="로그인">
   <input type="hidden" name="next" value="">
  </form>
{% endblock %}
